@rendermode InteractiveServer

<div class="@GetGridClass()">
    <div class="grid-child">@card.Card.CollectorNumber</div>
    @if (showSet)
    {
        <div class="grid-child">
            <img src="@card.Card.Set.IconSvgUri" height="18" title="@card.Card.Set.Name" />
        </div>
    }
    <div class="grid-child">
        <input type="number" @bind="@card.Want" />
    </div>
    <div class="grid-child">
        @if (card.Card.HasTwoFaces)
        {
            <a class="card-name">
                @firstName
                <img src="@card.Card.ImageUrlNormal" />
            </a>
            <span>&nbsp;//&nbsp;</span>
            <a class="card-name">
                @secondName
                <img src="@card.Card.ImageUrlNormalBack" />
            </a>
        }
        else
        {
            <a class="card-name">
                @card.Card.Name
                <img src="@card.Card.ImageUrlNormal" />
            </a>
        }
    </div>
    <div class="grid-child card-numbers">
        <div>
            @if (card.Card.NonFoil)
            {
                <span>
                    <input type="number" @bind="@card.Count" /> /
                    @card.Card.PriceUsd
                </span>
            }
        </div>
    </div>
    <div class="grid-child card-numbers">
        <div>
            @if (card.Card.Foil)
            {
                <span>
                    <input type="number" @bind="@card.FoilCount" /> /
                    @card.Card.PriceUsdFoil
                </span>
            }
        </div>
    </div>
    <div class="grid-child card-numbers">
        <div>
            @if (card.Card.EtchedFoil)
            {
                <span>
                    <input type="number" @bind="@card.EtchedCount" /> /
                    @card.Card.PriceUsdEtched
                </span>
            }
        </div>
    </div>
</div>

<style>
    .card-view {
        display: grid;
        grid-template-columns: 1fr 1fr 6fr 2fr 2fr 2fr;
    }

    .card-view-with-set {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 6fr 2fr 2fr 2fr;
    }

    .card-name {
        position: relative;
    }

        .card-name img {
            display: none;
        }

        .card-name:hover img {
            display: block;
            position: absolute;
            top: -200px;
            left: 100px;
            z-index: 1;
        }

    .card-numbers {
        /*text-align: center;*/
    }

    input[type='number'] {
        width: 30px;
    }

</style>

@code {
    [Parameter]
    public CollectionCard card { get; set; }

    [Parameter]
    public ApplicationUser user { get; set; }

    [Parameter]
    public bool showSet { get; set; }

    public string? firstName { get; set; }
    public string? secondName { get; set; }

    protected override Task OnInitializedAsync()
    {
        if(card.Card.Name.IndexOf("//") > 0)
        {
            var names = card.Card.Name.Split("//");
            firstName = names.First();
            secondName = names.Last();
        }

        return base.OnInitializedAsync();
    }

    private string GetGridClass()
    {
        return showSet ? "card-view-with-set" : "card-view";
    }
}


